@charset "UTF-8";

:root {
    font-size: 62.5%;

    --bg-color: #0f172a;
    --bg-projects: #1e293b66;
    --blue-highlight: linear-gradient(270deg, #22D3EE 50%, #0EA5E9 100%);
    --bg-button: linear-gradient(270deg, #22D3EE 50%, #0EA5E9 100%);
    --slate-50: #F8FAFC;
    --slate-300: #cbd5e1;
    --slate-800: #1E293B;
    --gray-400: #9CA3AF;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    display: flex;
    list-style: none;
}

.highlight {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.blue-highlight {
    background-image: var(--blue-highlight);
}

.column {
    display: flex;
    flex-direction: column;
}

body {
    background-color: var(--bg-color);
    color: var(--slate-300);
    font: 400 1.6rem 'Roboto', sans-serif;
}


header {
    padding: 1.6rem 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
}

header h1 {
    font-size: 2rem;
    line-height: 2.5rem;
}

header h1 a {
    display: flex;
}

header h1 img {
    width: 2.5rem;
    height: 2.5rem;
}

header nav ul {
    display: flex;
    gap: 0.75rem;
}

header nav a {
    color: var(--slate-50);
    font-size: 1.2rem;
}


main {
    padding: 2.4rem;
    gap: 4rem;
}

section h1 {
    color: var(--slate-50);
    font-size: 2rem;
}