/* APRESENTAÇÃO */
#presentation {
  gap: 1.6rem;

  align-items: center;
  justify-content: center;
}

#presentation>img {
  width: 10rem;
  height: 10rem;
}

#presentation h1 {
  color: #fff;
}

#presentation p {
  font-weight: 500;
  font-size: 1.2rem;
}

#presentation .social-links {
  margin: 1.2rem auto;
  display: flex;
  align-items: center;
  gap: 2rem;
}

#presentation .social-links img {
  width: 3rem;
  height: 3rem;
}